@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #fdfcf9;
  --background-2: #f7f6ed;
  --background-3: #faebd7;

  --text: #0d042b;
  --text-2: #3b364c;
}

.dark {
  --background: #fdfcf9;
  --background-2: #f7f6ed;
  --background-3: #faebd7;

  --text: #0d042b;
  --text-2: #3b364c;
}

@theme inline {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  --color-foreground: var(--text);
  --color-foreground-2: var(--text-2);
}

@theme {
  --font-display: sans-serif;
  --font-sans: sans-serif;
  --font-mono: monospace;
}

html,
body {
  background: var(--background) !important;
}
